@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}
.body{
  font-family: 'DM Sans',sans-serif;
  
}
.main{
  display: grid;
  grid-column: 15% 80%;
  gap: 5rem;
}
